.cards__position

    position: relative
    top: -50%
    padding-left: 2rem
    padding-right: 2rem
    .card-title
        padding-top: 6px
        font-weight: bold
    .list-group
        border: 0
        float: left

    .list-group-item
        border: 0
        padding-left: 0
        background-color: transparent

.card
    border: 0
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.08)
    &:hover
        background-color: #FFC107
        .btn-outline-secondary
            background-color: #400a96
            color: #fff

.card__img
    width: 14%
