.bg_image
    background-image: url("https://img.freepik.com/free-photo/business-man-holding-bright-light-bulb-hand_28629-1091.jpg?size=626&ext=jpg")
    background-repeat: no-repeat
    height: 100vh
    background-position: center
    background-size: cover
.banner-text
    padding: 20% 6%
    color: map-get($fontColor, 'white')
    font-weight: bold
    h1
        font-size: 60px

    p
        font-size: 20px

.rightlinks
    padding-right: 12px
    .search-profile
        padding-left: 12px
.mt__2
    margin-bottom: 4rem