.black__banner
    background-color: #151515
    height: 50%
    h1
        color: #fff
        text-transform: uppercase
        font-weight: bold
        padding: 10% 2%
.listing
    .list-group-horizontal
        border-bottom: 1px solid #ccc
        .list-group-item
            border: 0
            padding-left: 0
            font-size: 12px
.list-price
    font-size: 24px
    font-weight: normal
