.black__banner
    background-color: #151515
    height: 50%
    padding-top: 12%
    padding-bottom: 6%
    h1
        color: #fff
        text-transform: uppercase
        font-weight: bold
        &::before
            border: 1px solid yellow
            content: ""
            margin-left: 3rem
            margin-right: 1rem

.listing
    .list-group-horizontal
        border-bottom: 1px solid #ccc
        .list-group-item
            border: 0
            padding-left: 0
            font-size: 12px
            margin-bottom: 0
.list-price
    font-size: 24px
    font-weight: normal
    font-weight: bold
.table-bordered
    margin-top: 3rem
// .modal-content
//     padding: 0% 30%
.modal-title
    margin: 0px auto
    width: 100%
.modal-body
    margin: 0 auto
    width: 48%
.form-check-label
    font-size: 12px
.F14
    font-size: 12px
.large__button
    width: 100%
.radio__button
    label
        margin-left: 0.5rem
        color: #0084ff
        margin-bottom: 1rem

.table__Plan
    tr
        th
            font-weight: bold
            text-align: center
            font-weight: bold
        td
            text-align: center

    .btn-warning
        color: #000
        font-weight: bold
        font-size: 14px
.account__table

    label
        color: #6c6c6c
        font-weight: bold
.f12
    font-size: 14px
.paypal_checkout
    padding-top: 2rem
    padding-bottom: 8rem